<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="False" />
    <add key="PageSizeProvider" value="True" />
    <add key="EditAllowedDays" value="31" />
    <add key="FPRegularizeInDays" value="3" />
    <add key="allowedList" value="*" />
    <add key="LocationWiseCardPunchDate" value="09/04/2012" />
    <add key="AtchDir" value="F:\App_Vault\Attendance" />
    <add key="AtchDir1" value="C:\Temp" />
    <add key="Admin" value="0340,2324,2813" />
    <add key="Demo" value="False" />
    <add key="ODSanctionRequired" value="False" />
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection" />
    <add name="AspNetDBConnection" connectionString="Data Source=192.168.25.194;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec@12345" providerName="System.Data.SqlClient" />
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient" />
    <add name="--AspNetDBConnection" connectionString="Data Source=192.168.25.194;Initial Catalog=ynrWeb;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec@12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="ATN" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60" />
    <customErrors mode="RemoteOnly" />
    <identity impersonate="false" />
    <authorization>
      <allow users="*" />
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx" />
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx" />
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx" />
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx" />
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx" />
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx" />
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnApplicationStatus" src="~/ATN_Main/APP_FKControls/LC_atnApplicationStatus.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnEmployees" src="~/ATN_Main/APP_FKControls/LC_atnEmployees.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnFinYear" src="~/ATN_Main/APP_FKControls/LC_atnFinYear.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnTranType" src="~/ATN_Main/APP_FKControls/LC_atnTranType.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnPunchStatus" src="~/ATN_Main/APP_FKControls/LC_atnPunchStatus.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnLeaveTypes" src="~/ATN_Main/APP_FKControls/LC_atnLeaveTypes.ascx" />
        <add tagPrefix="LGM" tagName="LC_LeaveCard" src="~/ATN_Main/APP_FKControls/LC_LeaveCard.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnExecutionStates" src="~/ATN_Main/APP_FKControls/LC_atnExecutionStates.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmOffices" src="~/ATN_Main/APP_FKControls/LC_hrmOffices.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnPunchConfig" src="~/ATN_Main/APP_FKControls/LC_atnPunchConfig.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnMonths" src="~/ATN_Main/APP_FKControls/LC_atnMonths.ascx" />
        <add tagPrefix="LGM" tagName="LC_ijtMonths" src="~/ATN_Main/APP_FKControls/LC_ijtMonths.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmEmployees" src="~/ATN_Main/APP_FKControls/LC_hrmEmployees.ascx" />
        <add tagPrefix="LGM" tagName="LC_taCategories" src="~/ATN_Main/APP_FKControls/LC_taCategories.ascx" />
        <add tagPrefix="LGM" tagName="LC_idmProjects" src="~/ATN_Main/APP_FKControls/LC_idmProjects.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmCompanies" src="~/ATN_Main/APP_FKControls/LC_hrmCompanies.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmDivisions" src="~/ATN_Main/APP_FKControls/LC_hrmDivisions.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmDepartments" src="~/ATN_Main/APP_FKControls/LC_hrmDepartments.ascx" />
        <add tagPrefix="LGM" tagName="LC_hrmDesignations" src="~/ATN_Main/APP_FKControls/LC_hrmDesignations.ascx" />
        <add tagPrefix="LGM" tagName="LC_taTPInvoicing" src="~/TA_Main/APP_FKControls/LC_taTPInvoicing.ascx" />
        <add tagPrefix="LGM" tagName="LC_taCategories" src="~/ATN_Main/APP_FKControls/LC_taCategories.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnSAStatus" src="~/ATN_Main/APP_FKControls/LC_atnSAStatus.ascx" />
        <add tagPrefix="LGM" tagName="LC_atnSABySI" src="~/ATN_Main/APP_FKControls/LC_atnSABySI.ascx" />
        <add tagPrefix="LGM" tagName="LC_UpdateAttendance" src="~/ATN_Main/APP_Controls/LC_UpdateAttendance.ascx" />
        <add tagPrefix="LGM" tagName="LC_UpdateSAAttendance" src="~/ATN_Main/APP_Controls/LC_UpdateSAAttendance.ascx" />
        <add tagPrefix="LGM" tagName="LC_WFHConfig" src="~/ATN_Main/APP_FKControls/LC_WFHConfig.ascx" />
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="NoReplyTABill@isgecynr.com">
        <network host="192.168.25.190" port="25" userName="NoReplyTABill" password="Tabill@123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="V4.0-64" path="*.rptx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Read" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="V2.0-64" path="*.rptx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="V4.0" path="*.rptx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="v2.0" path="*.rptx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
      <add name="LGM-rptx" path="*.rptx" verb="*" type="SIS.SYS.Utilities.rptxHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsWebHrAdm1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://perk03/WebHRAdm1/app_services/wswebhradm1.asmx" binding="basicHttpBinding" bindingConfiguration="wsWebHrAdm1Soap" contract="HRISEvents.wsWebHrAdm1Soap" name="wsWebHrAdm1Soap" />
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to set the max length -->
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>